@font-face {
    font-family: "Vodafone Rg";
    src: url("fonts/VodafoneRg.ttf");
    src:
    url("fonts/VodafoneRg.woff") format("woff");
    
    } 

    body {
        font-family: 'Vodafone Rg', sans-serif !important;
        font-size: 12px !important;
        line-height: 1.0em !important; /* 4px +12px + 4px */
    }
 
